body {
	background-color: #1c2026;
}

h1 {
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: "Titillium Web", sans-serif;
	width: 100%;
}

h2 {
	font-size: 25px;
	color: white;
	text-align: center;
	font-family: "Titillium Web", sans-serif;
}

h3 {
	font-size: 20x;
	color: white;
	text-align: center;
	font-family: "Titillium Web", sans-serif;
}

input[type="radio"] {
	background-color: whitesmoke;
	vertical-align: middle;
	width: 15px;
}

#jogo {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 1%;
	padding-bottom: 1%;
}

.mainbtns {
	background-color: #04AA6D;
	border: none;
	font-family: "Titillium Web", sans-serif;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;

	border-radius: 10px;
	margin: 4px 2px;
	cursor: pointer;
}

.mainbtns:hover {
	background-color: black;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

label {
	font-family: "Titillium Web", sans-serif;
	color: white;
	font-size: 22pt;
	font-weight: bold;
	text-align: center;
}

.radiolabel>input {
	display: none;
}

.radiolabel input:checked+.radiobtn {
	background-color: #04AA6D;
}

.radiobtn{
	width: 50%;
	border-radius: 10px;
}

.number {
	background-color: #04AA6D;
	font-family: "Titillium Web", sans-serif;
	border-radius: 5px;
	color: white;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	font-size: 20pt;
	width: 6%;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: brown;
}

p {
	font-family: "Cairo", sans-serif;
	text-align: center;
	font-size: 20px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}

.highlight {
	background-color: white;
	color: black
}

.itemmenu {
	float: left;
}

.itemmenu a {
	font-family: "Cairo", sans-serif;
	display: block;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	padding: 12px 20px;
	text-decoration: none;
}

.itemmenu a:hover {
	background-color: black;
}

.active {
	background-color: #04AA6D;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

@media (max-width: 768px) {
	html {
		font-size: 90%;
	}

	.itemmenu a {
		font-size: 90%;
	}
}

@media (max-width: 350px) {
	.itemmenu a {
		font-size: 70%;
	}
}

.rb {
	display: inline-block;
	vertical-align: top;
	padding-left: 50%;
}